In [1]:
import pandas as pd
import numpy as np

In [2]:
air_data = pd.read_csv('test_air_data.csv')

In [6]:
air_data = air_data.drop('Unnamed: 0', axis=1)

In [7]:
air_data

            day  sdailyPM10  corrected_PM10d
0    2023-05-31   20.101500        14.209459
1    2023-06-01   26.774563        14.473830
2    2023-06-02   32.467429        14.699368
3    2023-06-03   39.555960        14.980198
4    2023-06-04   26.477069        14.462044
..          ...         ...              ...
124  2023-10-02   10.161288        13.815652
125  2023-10-03   11.048359        13.850795
126  2023-10-04   28.613796        14.546696
127  2023-10-05   16.903453        14.082760
128         NaN    7.016000        13.691043

[129 rows x 3 columns]

In [9]:
air_data.to_csv('cleaned_air_data.csv')